<h1>Users#show</h1>
<%= link_to 'Create new event', new_event_path %>
<p>Your created events are listed below</p>
<% current_user.events.each_with_index do |event, idx| %>
  <p><b><%= "#{idx + 1}." %></b></p>
  <h2>Title:</h2>
  <p><%= event.name %></p>
  <h2>Date:</h2>
  <p><%= event.date %></p>
  <h2>Description:</h2>
  <p>
    <%= event.description ? event.description : "This event has no given description"%>
  </p>
<% end %>
