<h1>Welcome, <%= current_user.first_name %></h1>
<hr>
<% user_events = current_user.events %>
<% if user_events.size > 0 %>
  <%= link_to 'Create new event', new_event_path %>
  <h2>Here are your events</h2>
  <% user_events.each_with_index do |event, idx| %>
    <p>
      <b><%= "#{idx + 1}." %></b>
    </p>
    <%= render "events/partials/event_info", event: event %>
    <hr>
  <% end %>
<% else %>
  Seems like you haven't created any event yet<br>
  <%= link_to 'Create a new event', new_event_path %>
<% end %>
<%= render 'attendances/partials/attended_events' %>
