<% attended_events = current_user.attended_events %>
<% unless attended_events.empty? %>
  <h2>Attended events</h2>
  <h3>Past events</h3>
  <%= raw "<p>You haven't gone to any event yet</p>" if attended_events.past.empty? %>
  <% attended_events.past.each do |event| %>
    <p>• <%= "#{event.name}, was on #{event.date}" %></p>
    <% event_attendance = Attendance.user_event(current_user.id, event.id) %>
    <% attendance_id = event_attendance[0] %>
    <%= link_to 'Remove attendance', attendance_path(attendance_id), data: { 'turbo-method': :delete,
                                                                             turbo_confirm: 'Are you sure?' }  %>
  <% end %>
  <h3>Upcoming events</h3>
  <% attended_events.upcoming.each do |event| %>
    <p>• <%= "#{event.name}, scheduled for #{event.date}" %></p>
    <% event_attendance = Attendance.user_event(current_user.id, event.id) %>
    <% attendance_id = event_attendance[0] %>
    <%= link_to 'Remove attendance', attendance_path(attendance_id), data: { 'turbo-method': :delete,
                                                              turbo_confirm: 'Are you sure?' }  %>
  <% end %>
<% end %>