<h2>Title:</h2>
<p><%= event.name %></p>
<h2>Date:</h2>
<p><%= event.date %></p>
<h2>Description:</h2>
<p>
  <%= event.description&.empty? ? "This event has no given description" : event.description %>
</p>
<%= link_to 'Info', event %>
<%= link_to 'Delete', event, data: { "turbo-method": :delete,
                                     turbo_confirm: 'Are you sure?' }%>
<%= link_to 'Invite people', setup_attendances_path(event.id) %>
<%= link_to 'Edit', edit_event_path(event.id) %><br>